@mixin reset-style {
	background: transparent;
	border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
	&:focus,
	&:active,
	&:hover {
		outline: none;
		border: none;
		box-shadow: none;
	}
}

@mixin clickable {
	&:hover {
		cursor: pointer;
	}
}
